@import "../../styles/variables/mixins";
.app__skills {
    flex: 1;
    width: 100%;
    flex-direction: column;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .head-text {
        margin-bottom: 50px;
    }
}

.app__skills-container {
    width: 80%;
    margin: 0 auto;
    .app__skill-lists {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .app__skills-item {
        flex-direction: column;
        cursor: pointer;
        .p-text {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
        }
        .app__skills-icons {
            width: 90px;
            height: 90px;
            img {
                width: 100%;
            }
        }
    }

    .lg {
        width: 210px !important;
    }

    .sm {
        width: 66px !important;
    }
}