// variables
@import "../../styles/variables/mixins";
@import "../../styles/variables/color";
.app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    z-index: 22;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        width: 150px;
    }
}

.app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 0;
    li {
        cursor: pointer;
        flex-direction: column;
        div {
            transition: all 0.3s ease-in-out;
            width: 5px;
            height: 5px;
            background-color: transparent;
            border-radius: 50%;
            margin-bottom: 5px;
        }
        a {
            text-decoration: none;
            color: $gray-color;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $secondary-color;
            }
        }
        &:hover {
            div {
                background-color: $secondary-color;
            }
        }
    }
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.app_navbar-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    @media screen and (max-width: 700px) {
        display: block;
    }
    svg {
        font-size: 25px;
        width: 70%;
        height: 70%;
        color: $white-color;
        cursor: pointer;
        @media screen and (max-width: 700px) {
            width: 100%;
            height: 100%;
            padding: 5px;
        }
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        transition: all 0.5s ease-in-out;
        transform: translateX(100%);
        align-items: flex-end;
        flex-direction: column;
        background: url("../../assets/bgWhite.png");
        background-size: cover;
        background-color: $white-color;
        background-repeat: repeat;
        box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
        svg {
            width: 40px;
            height: 40px;
            color: $secondary-color;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            li {
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: $gray-color;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
    .active {
        transform: translateX(0);
    }
}